.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
  grid-gap: 0.2rem;
  grid-template-areas: "nav nav nav nav" "main main item1 item2"
  "main main item3 item3"
  "item4 item5 item5 item6"
  "footer footer footer footer"
  
  

}
nav {
  background: rgb(228, 99, 90);
  grid-area: nav;
}
main {
  background: rgba(0, 153, 255, 0.938);
  grid-area: main;

}
.item1 {
  background: rgb(131, 211, 184);
  grid-area: item1;
  
}
.item2 {
  background: rgb(131, 211, 184);
  grid-area: item2;
}
.item3 {
  background: gold;
  grid-area: item3;
}
.item4 {
  background: green;
  grid-area: item4;
}
.item5 {
  background: green;
  grid-area: item5;
}
.item6 {
  background: green;
  grid-area: item6;
}
footer {
  background: hotpink;
  grid-area: footer;
  height: 50px;
}
@media only screen and (max-width:1024px){
  .container {
    grid-template-rows: 0.07fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav nav nav nav" "main main main item1" "main main main item2" "item3 item3 item3 item3" "item4 item4 item5 item5" "item6 item6 item6 item6" "footer footer footer footer"; 
  }
}
@media only screen and (max-width:768px){
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.07fr 0.35fr 0.15fr 0.15fr 0.15fr 0.15fr;
    grid-template-areas: "nav nav" "main main" "item3 item3" "item1 item2" "item6 item6" "item4 item5" "footer footer";
  }
}
@media only screen and (max-width:375px){
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.4fr 0.4fr 0.4fr 0.3fr 0.3fr 0.3fr 0.2fr;
    grid-template-areas: "nav" "item3" "item1" "item2" "main" "item4" "item5" "item6" "footer"
  }
}


