<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Domaci 2 - SCSS</title>
    <link rel="stylesheet" href="scss/style.css">
</head>

<body>
    <div class="grid-container">

        <div class="cont-1">
            <div  class="slika1"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quidem dolore magnam animi, sunt assumenda itaque reprehenderit repellat quibusdam soluta totam recusandae harum distinctio delectus quasi ratione minus illum nesciunt modi officiis, molestiae cum! Dicta amet aspernatur mollitia similique.</p>
            </div>
          <div class=" cont-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, saepe?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, saepe?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, saepe?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, saepe?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, saepe?</p>
            <div class="btn">
              <button type="submit" class="dugme1">Read More</button>
              <button type="submit" class="dugme2">Comment</button>
            </div>
        </div>
    </div>



</body>

</html>