@import "media";
@import "variables";

body ,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.responsive {
    background-color: gray;
  
    .text-red {
        span {
            @include media {
                width: 1000px;
            }
        }
    }
}